<% @dishes.each do |dish| %>
   <div class="row col-sm-6 col-md-4 thumbnail">
      <a href="/dishes/<%= dish.id %>">
      <img src="<%= dish.image.url %>" alt="..."></a>
      <div class="caption">
        <h3> <a href="/dishes/<%= dish.id %>"><%= dish.name %></a></h3>
        </div>


        <div class="btn-toolbar" role="toolbar">
				<p><%= dish.likes.count %></p>
				
				<form action="/like/<%= dish.id %>" method="post">
      	<input type="hidden" name="<%= dish.id %>">
      	<button class="btn btn-primary" role="button">Like  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
   		 	</form>

        <a href="#" class="btn btn-default" role="button">Share</a>
	
				<form action="/likes" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="dish_id" value="<%= dish.id %>">
        <button class="btn btn-default" role="button">Unlike</button>
      	</form>

      </div>

      </div>
    </div>
  </div>


<% end %>

