
    <% if logged_in? == false %>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active" align="middle">
          <img class="first-slide" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/12376188_10156552343810691_7893859351575364858_n.jpg?oh=7406ccb21f7386edb4f7c3834a1887f0&oe=57493CD6&__gda__=1463803779_3aa73c21f664ffef959dd901cc119476" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Sometimes, life can be gruel</h1>
              <p>The evidence is here</p>
              <p><a class="btn btn-lg btn-primary" href="/user/new" role="button">sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item" align="middle">
          <img class="second-slide" src="http://www.gone-ta-pott.com/DSCF0789_op_800x600.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Crazy, sexy, gruel.</h1>
              <p>The very best gruel recipes from all over the globe. What are you waiting for? Go for it, gruelfriend</p>
              <p><a class="btn btn-lg btn-primary" href="/session/new" role="button">login</a></p>
            </div>
          </div>
        </div>
        <div class="item" align="middle">
          <img class="third-slide" src="./bin.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Like a tasty morsel?</h1>
              <p>Check out the week's 'top slops' or take a spin on the Meal of Fortune™ for a lumpy, viscous surprise</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse the gruellery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
<% end %>

<% @dishes.each do |dish| %>
   <div class="row col-sm-6 col-md-4 thumbnail">
      <a href="/dishes/<%= dish.id %>">
      <img src="<%= dish.image.url %>" alt="..."></a>
      <div class="caption">
        <h3> <a href="/dishes/<%= dish.id %>"><%= dish.name %></a> by <%= dish.username %></h3>
        </div>

        <div class="btn-toolbar" role="toolbar">
				<p>Licks: <%= dish.likes.count %></p>
        <p>Recipe: <%= dish.description %></p>
				
        <% if logged_in? %>
        <% if Like.find_by(user_id: current_user.id, dish_id: dish.id) %>
        <form action="/likes" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="dish_id" value="<%= dish.id %>">
        <button class="btn btn-default" role="button">Unlike</button>
        </form>
	       <% else %>
				  <form action="/like/<%= dish.id %>" method="post">
        <input type="hidden" name="<%= dish.id %>">
        <button class="btn btn-primary" role="button">Lick  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
        </form>
        <% end %>
        <a href="#" class="btn btn-default" role="button">Share</a>
        <% end %>
      </div>

      </div>
    </div>
  </div>


<% end %>

